html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}

.pretitle, .title {
    text-align: center;
}

.pretitle {
    font-weight: 200;
}

.title {
    font-weight: 600;
}